body {
    background-color: #AEC6CF; /* Change this to any pastel color you like */
    color: #343a40;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, p, a {
    color: #343a40;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


.road {
    margin: 20px auto;
    width: 80%;
    position: relative;
}

.road-line {
    border-left: 3px dashed #6c757d;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.destination {
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.destination:hover {
    transform: scale(1.05);
}
