body {
    background-color: #AEC6CF; /* Pastel background color */
    color: #343a40;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destination {
    position: relative;
    width: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    white-space: nowrap; /* Ensures the text does not wrap */
    display: inline-block; /* Adjust size based on content */
    margin: 10px; /* Add margin between .destination elements */
}

.destination:hover {
    transform: scale(1.05);
}


